html {
	font-size: 62.5%;

  @include respond(big-tab) {
    font-size: 60%;
  }

  @include respond(tab) {
    font-size: 57%;
  }

  @include respond(phone) {
    font-size: 53%;
  }

  @include respond(small-phone) {
    font-size: 50%;
  }
}
