@import "../../../../../assets/styles/abstracts/mixins.scss";
@import "../../../../../assets/styles/abstracts/variables.scss";

.tables-dektop {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  margin-top: 1.5rem;
  overflow: auto;
  transition: all .3s ease 0s;

  @include respond(small-phone) {
    display: none;
  }
}

.tables-mobile {
  margin-top: 1.5rem;
  display: none;

  @include respond(small-phone) {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}