<aside>

  <nav class="nav">
    <ul class="nav__links">
      <li><a routerLink="/General" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Формула
          соревнования</a></li>
      <li><a [routerLink]="currentCompetition?.participantFormList?.length === 0 ? null : ['/Starter']"
          routerLinkActive="active"
          [ngClass]="{'disabled': currentCompetition?.participantFormList?.length === 0}">Участники</a></li>
      <li><a [routerLink]="currentCompetition?.groupsInitial?.length === 0 ? null : ['/FirstRound/FirstRound']"
          routerLinkActive="active" [ngClass]="{'disabled': currentCompetition?.groupsInitial?.length === 0}">Тур
          групп</a></li>
      <li><a [routerLink]="currentCompetition?.bracketsInitial?.length === 0 ? null : ['/DirectElimination/Seeding']"
          routerLinkActive="active" [ngClass]="{'disabled': currentCompetition?.bracketsInitial?.length === 0 }">Тур
          прямого
          выбывания</a></li>
      <li><a [routerLink]="currentCompetition?.bracketsResults?.length === 0 ? null : ['/Results']"
          [ngClass]="{'disabled': currentCompetition?.bracketsResults?.length === 0}"
          routerLinkActive="active">Результаты</a></li>
      <!-- <li><a routerLink="/Referees" routerLinkActive="active">Список судей</a></li> -->
    </ul>
  </nav>

  <nav class="nav-mobile">
    <div class="nav-mobile__menu">
      <h2>{{selectedMenu}}</h2>

      <div class="nav-mobile__burger" [ngClass]="{'active': isOpened}" (click)="openBurger()"><span></span></div>
    </div>


    <ul class="nav-mobile__links" [ngClass]="{'active': isOpened}">
      <li><a (click)="hideMenu($event)" routerLink="/General" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact : true}">Формула соревнования</a></li>
      <li><a (click)="hideMenu($event)"
          [routerLink]="currentCompetition?.participantFormList?.length === 0 ? null : ['/Starter']"
          [ngClass]="{'disabled': currentCompetition?.participantFormList?.length === 0}"
          routerLinkActive="active">Участники</a>
      </li>
      <li><a (click)="hideMenu($event)"
          [routerLink]="currentCompetition?.groupsInitial?.length === 0 ? null : ['/FirstRound/FirstRound']"
          [ngClass]="{'disabled': currentCompetition?.groupsInitial?.length === 0 }" routerLinkActive="active">Тур
          групп</a></li>
      <li><a (click)="hideMenu($event)"
          [routerLink]="currentCompetition?.bracketsInitial?.length === 0 ? null : ['/DirectElimination/Seeding']"
          routerLinkActive="active" [ngClass]="{'disabled': currentCompetition?.bracketsInitial?.length === 0 }">Тур
          прямого
          выбывания</a></li>
      <li><a [routerLink]="currentCompetition?.bracketsResults?.length === 0 ? null : ['/Results']"
          routerLinkActive="active" class="disabled" (click)="hideMenu($event)"
          [ngClass]="{'disabled': currentCompetition?.bracketsResults?.length === 0 }">Результаты</a></li>
      <!-- <li><a (click)="hideMenu($event)" routerLink="/Referees" routerLinkActive="active">Список судей</a></li> -->
    </ul>
  </nav>
</aside>