<ul class="tabs">
  <li><a routerLink="Seeding" routerLinkActive="active">Рейтинг</a></li>
  <li><a [routerLink]="currentCompetition?.info?.length === 0 ? null : ['FirstRound']"
      [ngClass]="{'disabled': currentCompetition?.info?.length === 0}" routerLinkActive="active">Первый тур</a></li>
  <li><a [routerLink]="currentCompetition?.groupsResults?.length === 0 ? null : ['UpDown']"
      [ngClass]="{'disabled': currentCompetition?.groupsResults?.length === 0 }" routerLinkActive="active">Результаты</a>
  </li>
</ul>
<router-outlet></router-outlet>