<header class="header">
  <nav>
    <a routerLink="./" class="company">
      <img src="assets/icons/logo.svg" class="company__logo" />
      <span class="company__name">INSPIRATION.ONLINE</span>
    </a>

    <ul class="links">
      <li><a routerLink="a" routerLinkActive="active">трансляции</a></li>
      <li><a routerLink="Competitions/General" routerLinkActive="active">соревнования</a></li>
      <li><a routerLink="a" routerLinkActive="active">команды</a></li>
      <li><a routerLink="a" routerLinkActive="active">спортсмены</a></li>
    </ul>

    <div class="profile">
      <ul class="profile__links">
        <li><a routerLink="./" routerLinkActive="active">Вход</a></li>
        <li><a routerLink="./" routerLinkActive="active">Регистрация</a></li>
      </ul>

      <img class="profile__avatar" src="assets/icons/avatar.svg" alt="avatar image" />

      <div class="burger" (click)="openBurger()" [ngClass]="{'active': isOpened}"><span></span></div>
    </div>

  </nav>
</header>

<nav class="mobile" [ngClass]="{'active': isOpened}">
  <ul class="links">
    <li><a (click)="hideMenu()" routerLink="a" routerLinkActive="active">трансляции</a></li>
    <li><a (click)="hideMenu()" routerLink="Competitions/General" routerLinkActive="active">соревнования</a></li>
    <li><a (click)="hideMenu()" routerLink="a" routerLinkActive="active">команды</a></li>
    <li><a (click)="hideMenu()" routerLink="a" routerLinkActive="active">спортсмены</a></li>
  </ul>
</nav>