<div class="fight">
  <div class="opponent">
    <span>{{fight?.leftParticipant?.score}}</span>
    <p>{{fight?.leftParticipant?.region}}</p>
    <img [src]="'assets/images/flags/' + fight?.leftParticipant?.region?.toLowerCase() + '.png'" alt="ita-flag.png">
    <h5 class="active">{{fight?.leftParticipant?.surname}} {{fight?.leftParticipant?.name}}</h5>
  </div>

  <div class="opponent">
    <span>{{fight?.rightParticipant?.score}}</span>
    <p>{{fight?.rightParticipant?.region}}</p>
    <img [src]="'assets/images/flags/' + fight?.rightParticipant?.region?.toLowerCase() + '.png'" alt="ita-flag.png">
    <h5>{{fight?.rightParticipant?.surname}} {{fight?.rightParticipant?.name}}</h5>
  </div>
</div>