<div class="info-block direct-elimination">
  <div class="col">
    <p class="number">128</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>

  <div class="col">
    <p class="number">64</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>

  <div class="col">
    <p class="number">32</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>

  <div class="col">
    <p class="number">16</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>
</div>