<ng-container *ngIf="isLoaded; else loader;">
  <div class="info-block direct-elimination" [style.grid-template-columns]="'repeat(' + views.length + ', 1fr)'">
    <ng-container *ngIf="viewsForDesktop.length !== 0; else empty">
      <div class="col" *ngFor="let view of viewsForDesktop">
        <p class="number">{{'T' + view.columnName.slice(1)}}</p>

        <app-fight-card *ngFor="let fight of view.fights" [fight]="fight"></app-fight-card>
      </div>
    </ng-container>

    <ng-template #empty>
      <h3 class="empty">Здесь ничего нет. Результаты во вкладке 8 - Final.</h3>
    </ng-template>

  </div>

  <div class="info-block direct-elimination_mobile">
    <div class="navigation">
      <button class="prev" (click)="prevSlide()" #btnPrev></button>
      <div class="numbers" #circles>
        <p class="number number_active">Участники</p>
        <p class="number" *ngFor="let view of views">
          <ng-container *ngIf="view.columnName === 'A4'">
            Полуфинал
          </ng-container>

          <ng-container *ngIf="view.columnName === 'A2'">
            Финал
          </ng-container>

          <ng-container *ngIf="view.columnName !== 'A4' && view.columnName !== 'A2'">
            {{'T' + view.columnName.slice(1)}}
          </ng-container>
        </p>
      </div>
      <button class="next" (click)="nextSlide()" #btnNext></button>
    </div>

    <div class="slider-container">
      <div class="slides" #sliderContainer>
        <div class="slide">
          <app-table-seeding [hasInfoBlock]="false" [athList]="totalAthList"></app-table-seeding>
        </div>
        <div class="slide" *ngFor="let view of views">
          <div class="fights">
            <app-fight-card *ngFor="let fight of view.fights" [fight]="fight"></app-fight-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>