circle {
  stroke: #fff;
  stroke-width: 1;
  fill: transparent;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation-name: dash;
  animation-timing-function: linear;
}

@keyframes dash {
  from {
    stroke-dashoffset:  var(--start-stroke-dashoffset);
  }
  to {
    stroke-dashoffset: 1;
  }
}

svg {
  height: 100%;
  width: 100%;
  display: block;
  transform: rotate(-90deg);
  margin: auto;
  position: relative;
}