<div class="info-block">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>П</th>
          <th>M</th>
          <th>УН</th>
          <th>УП</th>
          <th>Ind.</th>
          <th>Diff</th>
          <th>К</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of participantAndGroupList">
          <td class="main-data">
            <p class="name">{{item.group.placeInPool}}</p>
            <div class="country">
              <img [src]="'assets/images/flags/' + item.participant.region!.toLowerCase() + '.png'" alt="region flag">
              <p>{{item.participant.region}}</p>
            </div>
            <p class="name">{{item.participant.surname}} {{item.participant.name}} {{item.participant.fatherName}}</p>
          </td>
          <td>{{item.group.wins}}</td>
          <td>{{item.group.bouts}}</td>
          <td>{{item.group.td}}</td>
          <td>{{item.group.tr}}</td>
          <td>{{item.group.coefficient}}</td>
          <td>{{item.group.indicator}}</td>
          <td>
            <div class="circle"
              [ngClass]="{'circle_green': item.group.status === 'Q',
              'circle_red': item.group.status === 'E',
              'circle_black': item.group.status === 'D'}">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>