<div class="live-competition">
  <div class="main">
    <div class="opponent">
      <img src="assets/images/opponent-1.png" alt="left opponent">
      <p>15</p>
    </div>

    <div class="country">
      <img src="assets/images/uzb-flag.png" alt="left opponent country flag">
      <p>UZB</p>
    </div>

    <div class="results">
      <div class="number">1</div>
      <p class="time">02:57</p>
      <!-- <app-timer></app-timer> -->
    </div>

    <div class="country">
      <img src="assets/images/ita-flag.png" alt="right opponent country flag">
      <p>ITA</p>
    </div>

    <div class="opponent">
      <img src="assets/images/opponent-2.png" alt="right opponent">
      <p>6</p>
    </div>
  </div>

  <div class="names">
    <div class="name">
      <p>BRUGGER L.</p>
    </div>

    <div class="name">
      <p>ILYOSOVA M.</p>
    </div>
  </div>
</div>