<div class="info-block direct-elimination">
  <div class="col">
    <p class="number">8</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>

  <div class="col">
    <p class="number">4</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>

  <div class="col">
    <p class="number">Final</p>

    <app-fight-card></app-fight-card>
    <app-fight-card></app-fight-card>
  </div>
</div>
