html {
	font-size: 62.5%;
  min-height: 100%;

  @include respond(big-tab) {
    font-size: 60%;
  }

  @include respond(tab) {
    font-size: 57%;
  }

  @include respond(phone) {
    font-size: 53%;
  }

  @include respond(small-phone) {
    font-size: 50%;
  }
}

html, body {
  scroll-behavior: smooth;
  overflow: auto;
  font-family: regular, sans-serif;
}

body {
	background-color: $main-bg;
	color: $main-text-color;
	padding: 1.8rem 3.2rem 0rem 3.2rem;
  min-height: 100%;
  border-radius: 1.2rem;
}

.info-block {
  height: fit-content;
  border-radius: 1.2rem;
  background-color: $block-color;
  padding: 2.6rem 3.2rem;
  margin-bottom: 1.2rem;

  @include respond(small-phone) {
    padding: 2rem 1.5rem;
  }
}
