@import "../../../assets/styles/abstracts/mixins.scss";
@import "../../../assets/styles/abstracts/variables.scss";
$secondary-text-color: rgba(255, 255, 255, .6);
.block_starter {
  max-height: 50rem;
  overflow: auto;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;

  padding-top: .6rem;
  padding-bottom: .6rem;
  border-top: 1px solid $divider;

  @include respond(phone) {
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .col {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;

    small {
      color: #6e737a;
      font-size: 1.6rem;
    }
  }

  h5, p {
    line-height: 1.3;
  }

  p {
    color: $secondary-text-color;
    font-size: 1.6rem;
  }

  img {
    width: 3.2rem;
    height: 2.8rem;
    object-fit: cover;
  }

  h5 {
    color: #fff;
    font-size: 1.8rem;
  }
}