<!-- <div class="banner">
</div> -->



<main>
  <div class="col">
    <div class="info-block competitons">
      <h2>Соревнования турнира</h2>
      <app-tour-competition *ngFor="let competition of competitions" [competition]="competition"></app-tour-competition>
    </div>
  </div>

  <div class="col">
    <div class="info-block">
      <h2>Последние бои</h2>
      <ng-container *ngIf="!isLastInfosEmpty; else lastInfosEmpty">
        <div class="fights">
          <app-fight *ngFor="let fight of fights" [fight]="fight"></app-fight>
        </div>
      </ng-container>
      <ng-template #lastInfosEmpty>
        <h3 class="empty">Здесь пока ничего нет...</h3>
      </ng-template>
    </div>
  </div>

  <section class="competitions-header">
    <span class="title">{{currentCompetition?.newCompetitionForm?.competitionName}}</span>
  </section>

  <div class="col col_results" *ngIf="isResultsActive">
    <div class="wrapper">
      <app-aside></app-aside>

      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>