<a routerLink="a" class="banner">
</a>

<main>
  <div class="col">
    <h2>Online</h2>

    <div class="online">
      <app-live-competition></app-live-competition>
    </div>
  </div>

  <div class="col">
    <h2>Соревнования</h2>

    <div class="info-block block-competitions">
      <h3>Ближайшие</h3>

      <div class="competitions">
        <div class="competition">
          <h4>Campeonato Paranaense Cadete e Juvenil</h4>
          <div class="country-date">
            <div class="country">
              <img src="assets/images/brazil.png" alt="country flag"/>
              <p>BRA Curitiba</p>
            </div>

            <p class="date">12.08 – 13.08</p>
          </div>
          <p class="text">Foil, Epee, Sabre | Women's, Men's - U20, U17</p>
        </div>

        <div class="competition">
          <h4>Campeonato Paranaense Cadete e Juvenil</h4>
          <div class="country-date">
            <div class="country">
              <img src="assets/images/brazil.png" alt="country flag"/>
              <p>BRA Curitiba</p>
            </div>

            <p class="date">12.08 – 13.08</p>
          </div>
          <p class="text">Foil, Epee, Sabre | Women's, Men's - U20, U17</p>
        </div>

        <div class="competition">
          <h4>Campeonato Paranaense Cadete e Juvenil</h4>
          <div class="country-date">
            <div class="country">
              <img src="assets/images/brazil.png" alt="country flag"/>
              <p>BRA Curitiba</p>
            </div>

            <p class="date">12.08 – 13.08</p>
          </div>
          <p class="text">Foil, Epee, Sabre | Women's, Men's - U20, U17</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col col_sportsmans">
    <h2>Спортсмены</h2>

    <div class="info-block block-sportsmans">
      <h3>Foil</h3>
      <div class="names">
        <div class="name">
          <p>Саламандра Лариса</p>
          <p>111 2</p>
        </div>

        <div class="name">
          <p>Ланскова Майя</p>
          <p>108 2</p>
        </div>

        <div class="name">
          <p>Шварц Юрий</p>
          <p>106 1</p>
        </div>

        <div class="name">
          <p>Родионова Инесса</p>
          <p>104 5</p>
        </div>

        <div class="name">
          <p>Лукутина Марина</p>
          <p>103 3</p>
        </div>

        <div class="name">
          <p>Горюнова Татьяна</p>
          <p>99 1</p>
        </div>
      </div>

      <h3>Epee</h3>
      <div class="names">
        <div class="name">
          <p>Саламандра Лариса</p>
          <p>111 2</p>
        </div>

        <div class="name">
          <p>Ланскова Майя</p>
          <p>108 2</p>
        </div>

        <div class="name">
          <p>Шварц Юрий</p>
          <p>106 1</p>
        </div>

        <div class="name">
          <p>Родионова Инесса</p>
          <p>104 5</p>
        </div>

        <div class="name">
          <p>Лукутина Марина</p>
          <p>103 3</p>
        </div>

        <div class="name">
          <p>Горюнова Татьяна</p>
          <p>99 1</p>
        </div>
      </div>
    </div>
  </div>
</main>