@import "../../assets/styles/abstracts/mixins.scss";

$header-main-color: #BDFF00;
$secondary-text-color: #7a7d82;
$divider: #25282c;

.banner {
  display: block;

  height: 54.6rem;
  width: calc(100% + 6.4rem);
  margin: 1rem -3.2rem 2.8rem -3.2rem;

  background-image: url('../../assets/images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include respond(small-phone) {
    background-image: url('../../assets/images/banner-mob.png');
  }
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 3.2rem;

  @include respond(big-tab) {
    grid-template-columns: repeat(2, 1fr);

    .col_sportsmans {
      grid-column: 1 / span 2;
    }
  }

  @include respond(phone) {
    grid-template-columns: 1fr;

    .col_sportsmans {
      grid-column: 1;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3;
    color: $secondary-text-color;

    margin-bottom: 1.2rem;
  }

  .block-competitions {
    h3 {
      margin-bottom: 1.7rem;

      font-size: 2.4rem;
      line-height: 1.3;
      color: $secondary-text-color;
      font-weight: 300;
    }

    .competitions {
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;

      .competition {
        padding-bottom: 2.2rem;
        border-bottom: .1rem solid $divider;
        h4 {
          font-weight: 600;
          font-size: 2rem;
          line-height: 1.3;
          margin-bottom: 1.6rem;
        }

        .country-date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.6rem;

          .country {
            display: flex;
            column-gap: 1.1rem;
            align-items: center;

            img {
              width: 3.1rem;
              height: 2.1rem;
            }

            p {
              font-size: 1.4rem;
              line-height: 1.3;
              color: $secondary-text-color;
            }
          }
          .date {
            font-size: 1.6rem;
            line-height: 1.3;
            font-weight: 500;
            color: #fff;
          }
        }
        .text {
          font-size: 1.4rem;
          line-height: 1.3;
          color: $secondary-text-color;
        }
      }
    }
  }

  .block-sportsmans {
    h3 {
      font-size: 1.6rem;
      line-height: 1.3;
      font-weight: 600;
      color: #fff;

      margin-bottom: 1.6rem;
    }

    .names {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      margin-bottom: 4rem;

      .name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.3;
        }
      }
    }
  }
}