@import "../../assets/styles/abstracts/mixins.scss";
@import "../../assets/styles/abstracts/variables.scss";

$header-main-color: #BDFF00;
$secondary-text-color: #7a7d82;
$divider: #25282c;

.banner {
  display: block;
  width: calc(100% + 6.4rem);
  height: 41rem;
  margin: 1rem -3.2rem 2.8rem -3.2rem;

  background-image: url('../../assets/images/banners/1800.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include respond(big-tab) {
    background-image: url('../../assets/images/banners/1220.jpg');
  }

  @include respond(tab) {
    background-image: url('../../assets/images/banners/1024.jpg');
    height: 35rem;
  }

  @include respond(phone) {
    background-position: top;
    background-image: url('../../assets/images/banners/768.jpg');
    height: 38rem;
  }

  @include respond(small-phone) {
    background-image: url('../../assets/images/banners/480.jpg');
    height: 72rem;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.6rem;
  row-gap: 3.2rem;

  .col_results {
    grid-column: 1 / span 2;
  }

  // @include respond(big-tab) {
  //   grid-template-columns: repeat(2, 1fr);

  //   .col_sportsmans {
  //     grid-column: 1 / span 2;
  //   }
  // }

  @include respond(phone) {
    grid-template-columns: 1fr;

    .col_results {
      grid-column: 1;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3;
    color: $secondary-text-color;

    margin-bottom: 1.2rem;
  }

  app-tour-competition {
    display: block;
    padding: 1.2rem 0;
    border-top: .1rem solid $divider;
  }

  app-fight {
    display: block;
    margin-bottom: 1.6rem;
  }

  .fights {
    max-height: 51.4rem;
    overflow: auto;
  }
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 1fr;
	overflow: hidden;
  margin-bottom: 3rem;

	@include respond(tab) {
		grid-template-columns: 1fr;
	}

  .competitions-header {
    margin-top: 10rem;

    @include respond(tab) {
      display: none;
    }

    .title {
      font-size: 11.8rem;
      line-height: 1.3;
      color: $dark-blue;
      font-weight: 500;
      white-space: wrap;

      @media screen and (max-width: 1154px) {
        font-size: 5rem;
      }
    }
  }
}