@import "../../assets/styles/abstracts/mixins.scss";
@import "../../assets/styles/abstracts/variables.scss";

$header-main-color: #BDFF00;
$secondary-text-color: #7a7d82;
$divider: #25282c;
$title-text: #d9dee3;

.banner {
  display: block;
  width: calc(100% + 6.4rem);
  height: 41.4rem;
  margin: 1rem -3.2rem 2.8rem -3.2rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_1 {
    background-image: url('/assets/images/banners/1_1800.jpg');

    @include respond(big-tab) {
      background-image: url('/assets/images/banners/1_1220.jpg');
    }

    @include respond(tab) {
      background-image: url('/assets/images/banners/1_1024.jpg');
    }

    @include respond(phone) {
      background-image: url('/assets/images/banners/1_768.jpg');
    }

    @include respond(small-phone) {
      background-image: url('/assets/images/banners/1_480.jpg');
    }
  }

  &_2 {
    background-image: url('/assets/images/banners/2_1800.jpg');

    @include respond(big-tab) {
      background-image: url('/assets/images/banners/2_1220.jpg');
    }

    @include respond(tab) {
      background-image: url('/assets/images/banners/2_1024.jpg');
    }

    @include respond(phone) {
      background-image: url('/assets/images/banners/2_768.jpg');
    }

    @include respond(small-phone) {
      background-image: url('/assets/images/banners/2_480.jpg');
    }
  }

  &_3 {
    background-image: url('/assets/images/banners/3_1800.jpg');

    @include respond(big-tab) {
      background-image: url('/assets/images/banners/3_1220.jpg');
    }

    @include respond(tab) {
      background-image: url('/assets/images/banners/3_1024.jpg');
    }

    @include respond(phone) {
      background-image: url('/assets/images/banners/3_768.jpg');
    }

    @include respond(small-phone) {
      background-image: url('/assets/images/banners/3_480.jpg');
    }
  }


  @include respond(tab) {
    height: 35rem;
  }

  @include respond(phone) {
    background-position: top;
  }

  @media screen and (max-width: 550px) {
    height: 30rem;
  }

  @include respond(small-phone) {
    height: 35rem;
  }

  @media screen and (max-width: 400px) {
    height: 30rem;
  }

  @media screen and (max-width: 350px) {
    height: 25rem;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.6rem;
  row-gap: 3.2rem;
  max-width: 144rem;
  margin: 0 auto;
  margin-top: 5rem;

  .col {
    .competitions {
      max-height: 50rem;
      overflow: auto;
    }
  }



  .col_results {
    grid-column: 1 / span 2;
  }


  @include respond(phone) {
    .col {
      grid-column: 1 / span 2;
    }
  }


  // @include respond(big-tab) {
  //   grid-template-columns: repeat(2, 1fr);

  //   .col_sportsmans {
  //     grid-column: 1 / span 2;
  //   }
  // }

  @include respond(phone) {
    grid-template-columns: 1fr;

  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3;
    color: $secondary-text-color;

    margin-bottom: 1.2rem;
  }

  app-tour-competition {
    display: block;
    padding: 1.2rem 0;
    border-top: .1rem solid $divider;
  }

  app-fight {
    display: block;
    margin-bottom: 1.6rem;
  }

  .fights {
    max-height: 51.4rem;
    overflow: auto;
  }
}

.competitions-header {
  margin-bottom: 5rem;
  grid-column: 1 / span 2;

  .title {
    font-size: 3.2rem;
    line-height: 1.3;
    color: #fff;
    font-weight: 500;
    white-space: wrap;


    @media screen and (max-width: 1154px) {
      font-size: 5rem;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.6rem;
  margin-bottom: 3rem;

  @include respond(tab) {
    grid-template-columns: 1fr;
  }
}