<div class="info-block">
  <div class="table-header">
    <h3>No: 1</h3>
    <p>Pi BLUE | Su 9:00 | Referee: BARDENHAGEN Tim Claus ATTAR COHEN Adriana</p>
  </div>

  <div class="table-wrapper">
    <table class="table-main">
      <thead>
        <tr>
          <th></th>
          <th class="head">1</th>
          <th class="head">2</th>
          <th class="head">3</th>
          <th class="head">4</th>
          <th class="head">5</th>
          <th class="head">6</th>
          <th class="head">7</th>
          <th class="head">V</th>
          <th class="head">TD</th>
          <th class="head">TR</th>
          <th class="head">t1</th>
          <th class="head">t2</th>
          <th class="head">Rk</th>
          <th class="head">Rd</th>
          <th class="head">0</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/jor-flag.jpg" alt="jor flag">
              <h5>JOR</h5>
            </div>
            <p>MAJALI Roaa</p>
            <small>1</small>
          </td>
          <td class="data data_empty"></td>
          <td class="data data_green">V5</td>
          <td class="data">D4</td>
          <td class="data">D2</td>
          <td class="data">D0</td>
          <td class="data">D0</td>
          <td class="data data_green">V5</td>
          <td class="data">2</td>
          <td class="data">16</td>
          <td class="data">24</td>
          <td class="data">0.33</td>
          <td class="data">-8</td>
          <td class="data">5</td>
          <td class="data">83</td>
          <td class="data"><span class="green-circle"></span></td>
        </tr>

        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/ind-flag.png" alt="ind flag">
              <h5>IND</h5>
            </div>
            <p>VINAYAKAM PARANJOTHI</p>
            <small>2</small>
          </td>
          <td class="data">D3</td>
          <td class="data data_empty"></td>
          <td class="data">D3</td>
          <td class="data">D2</td>
          <td class="data">D1</td>
          <td class="data">D1</td>
          <td class="data">D4</td>
          <td class="data">0</td>
          <td class="data">14</td>
          <td class="data">30</td>
          <td class="data">0.00</td>
          <td class="data">-16</td>
          <td class="data">7</td>
          <td class="data">105</td>
          <td class="data"></td>
        </tr>

        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/den-flag.png" alt="den flag">
              <h5>DEN</h5>
            </div>
            <p>NJORGENSEN Laeticia</p>
            <small>3</small>
          </td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data data_empty"></td>
          <td class="data data_green">V5</td>
          <td class="data">D1</td>
          <td class="data">D0</td>
          <td class="data data_green">V5</td>
          <td class="data">5</td>
          <td class="data">26</td>
          <td class="data">21</td>
          <td class="data">0.83</td>
          <td class="data">5</td>
          <td class="data">2</td>
          <td class="data">20</td>
          <td class="data"><span class="green-circle"></span></td>
        </tr>

        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/tur-flag.png" alt="tur flag">
              <h5>TUR</h5>
            </div>
            <p>ANBARLILAR Fatima Zehra</p>
            <small>4</small>
          </td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data">D2</td>
          <td class="data data_empty"></td>
          <td class="data">D4</td>
          <td class="data">D0</td>
          <td class="data data_green">V5</td>
          <td class="data">3</td>
          <td class="data">21</td>
          <td class="data">20</td>
          <td class="data">0.50</td>
          <td class="data">1</td>
          <td class="data">4</td>
          <td class="data">58</td>
          <td class="data"><span class="green-circle"></span></td>
        </tr>

        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/usa-flag.png" alt="usa flag">
              <h5>USA</h5>
            </div>
            <p>WEINTRAUB Maia Mei</p>
            <small>5</small>
          </td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data data_empty"></td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data">6</td>
          <td class="data">30</td>
          <td class="data">8</td>
          <td class="data">1.00</td>
          <td class="data">22</td>
          <td class="data">1</td>
          <td class="data">3</td>
          <td class="data"><span class="green-circle"></span></td>
        </tr>

        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/aut-flag.svg" alt="aut flag">
              <h5>AUT</h5>
            </div>
            <p>BRUGGER Lilli Maria</p>
            <small>6</small>
          </td>
          <td class="data data_green">V5</td>
          <td class="data data_green">V5</td>
          <td class="data">D3</td>
          <td class="data">V5</td>
          <td class="data">D2</td>
          <td class="data data_empty"></td>
          <td class="data data_green">V5</td>
          <td class="data">4</td>
          <td class="data">25</td>
          <td class="data">13</td>
          <td class="data">0.67</td>
          <td class="data">12</td>
          <td class="data">3</td>
          <td class="data">26</td>
          <td class="data"><span class="green-circle"></span></td>
        </tr>

        <tr>
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/alg-flag.webp" alt="alg flag">
              <h5>ALG</h5>
            </div>
            <p>ZEBOUDI Sonia</p>
            <small>7</small>
          </td>
          <td class="data">D1</td>
          <td class="data data_green">V5</td>
          <td class="data">D4</td>
          <td class="data">D1</td>
          <td class="data">D0</td>
          <td class="data">D2</td>
          <td class="data data_empty"></td>
          <td class="data">1</td>
          <td class="data">13</td>
          <td class="data">29</td>
          <td class="data">0.16</td>
          <td class="data">-16</td>
          <td class="data">6</td>
          <td class="data">99</td>
          <td class="data"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>