<div class="info-block">
  <div class="table-header">
    <h3>No: {{view?.group?.poolNumber}}</h3>
    <p>{{view?.group?.strip}} | Su {{view?.group?.startTime}}</p>
  </div>

  <div class="table-wrapper">
    <table class="table-main">
      <thead>
        <tr>
          <th></th>
          <th class="head" *ngFor="let number of arrayOfQuantityParticipants">{{number}}</th>
          <th class="head head_ml">V</th>
          <th class="head">TD</th>
          <th class="head">TR</th>
          <th class="head">t1</th>
          <th class="head">t2</th>
          <th class="head">Rk</th>
          <th class="head">Rd</th>
          <th class="head">Q</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of view?.firstRoundViewRows; let i = index">
          <td class="info">
            <div class="info__flag">
              <img src="assets/images/jor-flag.jpg" alt="jor flag">
              <h5>{{ row.ath.participantForm.region }}</h5>
            </div>
            <p>{{ row.ath.participantForm.surname }} {{ row.ath.participantForm.name }}</p>
            <small>{{i + 1}}</small>
          </td>
          <td class="data" [ngClass]="{'data_empty': info.position === -1}"
            *ngFor="let info of row.infoArray">{{info.score && info.score > 0 ? info.score : ''}}</td>

          <td class="data data_ml">{{row.result.wins}}</td>
          <td class="data">{{row.result.td}}</td>
          <td class="data">{{row.result.tr}}</td>
          <td class="data">{{row.result.indicator}}</td>
          <td class="data">{{row.result.coefficient}}</td>
          <td class="data">{{row.result.placeInPool}}</td>
          <td class="data">{{row.result.rankAfterPools}}</td>
          <td class="data"><span class="circle" [ngClass]="
            {'circle_green': row.result.status === 'Q',
            'circle_red': row.result.status === 'D',
            'circle_black': row.result.status === 'E'}
          "></span></td>
        </tr>


      </tbody>
    </table>
  </div>

</div>