<ng-container *ngIf="hasInfoBlock; else withoutInfoBlock">
  <div class="info-block">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngIf="!participantsAndGroups">М</th>
            <th *ngIf="!participantsAndGroups">Очки</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngIf="!participantsAndGroups">
            <tr *ngFor="let ath of athParticipants; let i = index;">
              <td *ngIf="!participantsAndGroups">{{ath.groupInitial?.athleteRankPool}}</td>
              <td class="main-data">
                <div class="country">
                  <img [src]="'assets/images/flags/' + ath.participant.region!.toLowerCase() + '.png'" alt="country flag">
                  <p>{{ath.participant.region}}</p>
                </div>
                <p class="name">{{ath.participant.surname}} {{ath.participant.name}} {{ath.participant.fatherName}}</p>
              </td>
              <td>{{ath.ath.startRanking}}</td>
              <td>{{ath.ath.startPoints}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="participantsAndGroups">
            <tr *ngFor="let participant of participantsAndGroups">
              <td>{{participant.group.rankAfterPools}}</td>
              <td class="main-data">
                <div class="country">
                  <img [src]="'assets/images/flags/' + participant.participant.region!.toLowerCase() + '.png'" alt="country flag">
                  <p>{{participant.participant.region}}</p>
                </div>
                <p class="name">{{participant.participant.surname}} {{participant.participant.name}} {{participant.participant.fatherName}}</p>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<ng-template #withoutInfoBlock>
  <div class="table-flex">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngIf="!participantsAndGroups">Rk.</th>
            <th *ngIf="!participantsAndGroups">Очки</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngIf="!participantsAndGroups">
            <tr *ngFor="let ath of athParticipants; let i = index;">
              <td *ngIf="!participantsAndGroups">{{i + 1}}</td>
              <td class="main-data">
                <div class="country">
                  <img [src]="'assets/images/flags/' + ath.participant.region!.toLowerCase() + '.png'" alt="country flag">
                  <p>{{ath.participant.region}}</p>
                </div>
                <p class="name">{{ath.participant.surname}} {{ath.participant.name}} {{ath.participant.fatherName}}</p>
              </td>
              <td>{{ath.ath.startRanking}}</td>
              <td>{{ath.ath.startPoints}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="participantsAndGroups">
            <tr *ngFor="let participant of participantsAndGroups">
              <td>{{participant.group.rankAfterPools}}</td>
              <td class="main-data">
                <div class="country">
                  <img [src]="'assets/images/flags/' + participant.participant.region!.toLowerCase() + '.png'" alt="country flag">
                  <p>{{participant.participant.region}}</p>
                </div>
                <p class="name">{{participant.participant.surname}} {{participant.participant.name}} {{participant.participant.fatherName}}</p>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>