<ng-container *ngIf="hasInfoBlock; else withoutInfoBlock">
  <div class="info-block">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Rk.</th>
            <th>Очки</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let ath of athParticipants; let i = index;">
            <td>{{i + 1}}</td>
            <td class="main-data">
              <div class="country">
                <img [src]="'assets/images/flags/' + ath.participant.region!.toLowerCase() + '.png'" alt="country flag">
                <p>{{ath.participant.region}}</p>
              </div>
              <p class="name">{{ath.participant.surname}} {{ath.participant.name}} {{ath.participant.fatherName}}</p>
            </td>
            <td>{{ath.ath.startRanking}}</td>
            <td>{{ath.ath.startPoints}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<ng-template #withoutInfoBlock>
  <div class="table-flex">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Rk.</th>
            <th>Points</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let ath of athParticipants; let i = index;">
            <td class="small">{{i + 1}}</td>
            <td class="main-data">
              <div class="country">
                <img [src]="'assets/images/flags/' + ath.participant.region!.toLowerCase() + '.png'" alt="country flag">
                <p>{{ath.participant.region}}</p>
              </div>
              <p class="name">{{ath.participant.surname}} {{ath.participant.name}} {{ath.participant.fatherName}}</p>
            </td>
            <td>{{ath.ath.startRanking}}</td>
            <td>{{ath.ath.startPoints}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>