<div class="info-block block-table-mobile">
  <div class="table-header">
    <div class="table-header__row">
      <h3>No: 1</h3>
      <p>Pi BLUE | Su 9:00 |</p>
    </div>

    <div class="table-header__row">
      <p>Referee: </p>
      <p>BARDENHAGEN Tim Claus ATTAR COHEN Adriana</p>
    </div>
  </div>

  <div class="table-main">
    <div class="navigation">
      <button class="prev" (click)="prevSlide()" #btnPrev></button>
      <div class="circles" #circles>
        <div class="circle circle_active"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <button class="next" (click)="nextSlide()" #btnNext></button>
    </div>

    <div class="slider-container">
      <div class="slides" #sliderContainer>
        <div class="slide">
          <div class="countries">
            <div class="country" *ngFor="let item of athParticipants; let i = index;">
              <small>{{i + 1}}</small>
              <h5>{{item.participant.surname}} {{item.participant.name}}</h5>
              <div class="flag">
                <img [src]="'assets/images/flags/' + item.participant.region!.toLowerCase() + '.png'"
                  alt="country flag">
                <p>{{item.participant.region}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <table class="competition">
            <thead>
              <th class="head"></th>
              <th class="head">1</th>
              <th class="head">2</th>
              <th class="head">3</th>
              <th class="head">4</th>
              <th class="head">5</th>
              <th class="head">6</th>
              <th class="head">7</th>
            </thead>

            <tbody>
              <tr>
                <td class="number">1</td>
                <td class="data data_empty bordered"></td>
                <td class="data data_green bordered"><span>V5</span></td>
                <td class="data bordered"><span>D4</span></td>
                <td class="data bordered"><span>D2</span></td>
                <td class="data bordered"><span>D0</span></td>
                <td class="data bordered"><span>D0</span> </td>
                <td class="data data_green bordered"><span>V5</span> </td>
                <td class="name">REBOLLEDO Melissa</td>
              </tr>

              <tr>
                <td class="number">2</td>
                <td class="data bordered"><span>D3</span></td>
                <td class="data data_empty bordered"></td>
                <td class="data bordered"><span>D3</span></td>
                <td class="data bordered"><span>D2</span></td>
                <td class="data bordered"><span>D1</span></td>
                <td class="data bordered"><span>D1</span> </td>
                <td class="data bordered"><span>D4</span> </td>
                <td class="name">SCRUGGS Lauren</td>
              </tr>

              <tr>
                <td class="number">3</td>
                <td class="data data_green bordered"><span>V5</span></td>
                <td class="data data_green bordered"><span>V5</span></td>
                <td class="data data_empty bordered"></td>
                <td class="data data_green bordered"><span>V5</span></td>
                <td class="data bordered"><span>D1</span></td>
                <td class="data bordered"><span>D0</span> </td>
                <td class="data data_green bordered"><span>V5</span> </td>
                <td class="name">ZAKARANI Youssra</td>
              </tr>

              <tr>
                <td class="number">4</td>
                <td class="data data_green bordered"><span>V5</span></td>
                <td class="data data_green bordered"><span>V5</span></td>
                <td class="data bordered"><span>D2</span></td>
                <td class="data data_empty bordered"></td>
                <td class="data bordered"><span>D4</span></td>
                <td class="data bordered"><span>D0</span> </td>
                <td class="data data_green bordered"><span>V5</span> </td>
                <td class="name">CIRIL RAJDEV Maria Akshita</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="slide">
          <table class="competition">
            <thead>
              <th class="head"></th>
              <th class="head">V</th>
              <th class="head">M</th>
              <th class="head">TD</th>
              <th class="head">TR</th>
              <th class="head">Ind.</th>
              <th class="head">Diff</th>
              <th class="head">Q</th>
            </thead>

            <tbody>
              <tr *ngFor="let item of participantAndGroupList; let i = index;">
                <td class="number">{{i + 1}}</td>
                <td class="data bordered"><span>{{item.group.wins}}</span></td>
                <td class="data bordered"><span>{{item.group.bouts}}</span></td>
                <td class="data bordered"><span>{{item.group.td}}</span></td>
                <td class="data bordered"><span>{{item.group.tr}}</span></td>
                <td class="data bordered"><span>{{item.group.indicator}}</span></td>
                <td
                  class="data bordered"><span>{{(item.group.td && item.group.tr) ? item.group.td - item.group.tr : ''}}</span> </td>
                <td class="data bordered">
                  <div class="circle"
              [ngClass]="{'circle_green': item.group.status === 'Q',
              'circle_red': item.group.status === 'E',
              'circle_black': item.group.status === 'D'}">
            </div>
                </td>
                <td class="name">{{item.participant.surname}} {{item.participant.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>