@import "../../../../assets/styles/abstracts/mixins.scss";
@import "../../../../assets/styles/abstracts/variables.scss";
$tabs-hover: #d9d9d9;

.first-round-header {
  margin-top: 10rem;

  .title {
    font-size: 11.8rem;
    line-height: 1.3;
    color: $dark-blue;
    font-weight: 500;
    white-space: wrap;

    @media screen and (max-width: 1154px) {
      font-size: 5rem;
    }
  }

  .tabs {
    display: flex;
    margin-top: 1.2rem;

    li {
      font-size: 2rem;
      width: fit-content;

      a {
        padding: .7rem 2.4rem;
        color: inherit;
        white-space: nowrap;
        transition: all .3s ease 0s;
        border-radius: .8rem;
        font-size: 2rem;
        line-height: 1.3;

        &:hover {
          background-color: $tabs-hover;
          color: $main-bg;
        }

        &.active {
          background-color: $tabs-hover;
          color: $main-bg;
        }
      }
    }
  }

  @include respond(tab) {
    display: none;
  }
}