@import "../../../../assets/styles/abstracts/mixins.scss";
@import "../../../../assets/styles/abstracts/variables.scss";
$tabs-hover: #d9d9d9;

.first-round-header {
  margin-top: 10rem;

  .title {
    font-size: 8rem;
    color: $dark-blue;
    font-weight: 700;
    letter-spacing: 1.5rem;
    white-space: wrap;

    @media screen and (max-width: 1154px) {
      font-size: 5rem;
    }
  }

  .tabs {
    display: flex;
    margin-top: 3rem;

    li {
      font-size: 2rem;
      width: fit-content;

      a {
        padding: .7rem 2rem;
        color: inherit;
        white-space: nowrap;
        transition: all .3s ease 0s;
        border-radius: .5rem;

        &:hover {
          background-color: $tabs-hover;
          color: $main-bg;
        }

        &.active {
          background-color: $tabs-hover;
          color: $main-bg;
        }
      }
    }
  }

  @include respond(tab) {
    display: none;
  }
}