@font-face {
  font-family: regular;
  src: url('../../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: thin;
  src: url('../../fonts/IBMPlexSans-Thin.ttf');
}

@font-face {
  font-family: light;
  src: url('../../fonts/IBMPlexSans-Light.ttf');
}

@font-face {
  font-family: bold;
  src: url('../../fonts/IBMPlexSans-Bold.ttf');
}