$main-bg: #202328;
$main-text-color: #0082FC;
$secondary-text-color: #3471aa;
$divider: rgba(0, 0, 0, .4);

$gray: #FFFFFF99;
$dark-gray: #333841;

$red: #DC1B1B;

$light-green: #22FF00;
$dark-green: #3f8c3f;

$yellow: #E9B600;

$block-color: #333841;

$dark-blue: #193655;

$header-hover: #193655;