<section class="info-block">
  <h2>ROUNDS</h2>

  <div class="block">
    <h3>First round</h3>
    <div class="row">
      <h6>Type</h6>
      <p>Pools</p>
    </div>

    <div class="row">
      <h6>Exempt</h6>
      <p>0</p>
    </div>

    <div class="row">
      <h6>Number of pools</h6>
      <p>1</p>
    </div>

    <div class="row">
      <h6>Seeding</h6>
      <p>FIE-Rules, Moved by Club</p>
    </div>

    <div class="row">
      <h6>Hits and times</h6>
      <p>5 Hits | 3:00 min</p>
    </div>

    <div class="row">
      <h6>Promoted to next round</h6>
      <p>10Advance by Index (all equals are qualified). This round is taken into account for direct elimination
        seeding.</p>
    </div>
  </div>

  <div class="block">
    <h3>Direct elimination</h3>

    <div class="row">
      <h6>Type</h6>
      <p>Direct elimination</p>
    </div>

    <div class="row">
      <h6>Direct elimination mode</h6>
      <p>Table of 16 <br> Table of 16 <br> Final of 4</p>
    </div>

    <div class="row">
      <h6>Seeding</h6>
      <p>15 Hits | 3 x 3:00 min | 1:00 mineding.</p>
    </div>
  </div>
</section>